#!/bin/bash
{{ hadoop_home }}/bin/hdfs zkfc -formatZK
{{ hadoop_home }}/sbin/hadoop-daemons.sh start journalnode
{{ hadoop_home }}/bin/hdfs namenode -format
{{ hadoop_home }}/sbin/hadoop-daemon.sh start namenode
ssh -t hadoop@{{NameNode2}} "{{ hadoop_home }}/bin/hdfs namenode -bootstrapStandby"
hdfs dfs -mkdir -p hdfs://masters/user/spark/spark-events

