[mysqld]

port =3306
character_set_server=utf8
character_set_client=utf8
collation-server=utf8_general_ci
socket=/var/lib/mysql/mysql.sock

datadir={{mysql_data_path}}

wait_timeout=30
interactive_timeout=30


key_buffer_size = 8120M
max_allowed_packet = 15000M
table_open_cache = 6048
sort_buffer_size = 8000M
net_buffer_length = 800K
read_buffer_size = 6000M
read_rnd_buffer_size = 5120K
myisam_sort_buffer_size = 1280M
thread_cache_size = 2560
query_cache_size = 8560M
tmp_table_size = 8560M

#tokudb_cache_size = 8192M

max_connections = 5000
max_connect_errors = 1000
open_files_limit = 65535

user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqld_safe]
thp-setting=never
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
